@media only screen and (max-width:768px) {

    .main {

    position: unset !important;

}
    .nav__menu {
height: 34px;
    margin-left: 10px;
    visibility: visible;

}
.nav__sticky{
  width: 100% ;
}
    .nav__logo--display-mobile{
    height: 58px;
    width: 80px;
    box-sizing: border-box;
    padding-top: 23px;
    background: red;
    padding-left: 13px;
    padding-right: 13px;
    visibility: visible;
}
    .nav__dark{
    display:none;

}
.nav__white{
       display:none;
}



       .first-article {
        flex-direction: column;
        padding: 5px;
    }



    .first-article__wrap,
    .first-article__wrap-two,
    .first-article__wrap-three {
  margin-bottom: 20px;
        width: 95% !important;
    }
    .first-article__article-head {
        display: none;
    }
    .first-article--lg-font {
        font-size: 2rem;
         margin-top: 0px !important;
    }
    .first-article__part-two {
        margin-left: 0;
    }
.second-article{
display: flex;
}

.second-article__clip{
  width: 100% ;
  display: flex;
    height: 50px;
}
    .second-article__bg {
      height: 100%;
      margin-right: 10px;
      width: 20%;
    }
    .second-article__link {
    color: black;
    font-size: 13px;
}






/*
      .second-article__row {

    position: relative;

        left:50px;
    }
*/

      .third-article{
        width: 100%;
    }
          .third-article__row {
    display: flex;
   flex-direction: column;


}
    .third-article__informer {
    width: 100%;
}
    .fourth-article {
        width: 95%;
    }
  .fourth-article__row {
   flex-direction: column;
    flex-wrap:nowrap;

}
 .fourth-article__content {

      width: 100% ;
    padding: 0px;
    margin: 8px ;
    }

        .fourth-article__p--font {
    font-size: 20px;
}
    .fourth-article__link--font {

    font-size: 16px;
}
    .footer{
    background: #131313;
    width:100%;


}





}
@media only screen and (min-width:769px) and (max-width:1024px) {
    .main{
    padding-top: 91px;
    display: flex;
    flex-direction: column;
}

    .first-article--lg-font {
    font-size: 2.5rem;
            margin-top: 9.4rem;
}


    .first-article__article-head {
        display: none;
    }

  .second-article__clip {
    height: 17.4rem;
        width: 28%;
    box-sizing: border-box;
    margin: 1rem;
}
       .second-article__link {
    color: black;
    font-size: 13px;
}

    .second-article__link--bold {
    font-weight: 900;
        font-size: 15px !important;}
    .third-article__informer--hidden{
        display: none;
    }
.third-article{
  width: 100%;
}

 .fourth-article__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
      margin: 8px;
    }
    .fourth-article__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
        .footer {
    background: #131313;

        width: 100%;
    }

}

@media only screen and (min-width:1205px) and (max-width:1280px) {
.second-article__clip {
    width: 30%;
}
          .fourth-article__p--font {
    font-size: 14px;
}
    .fourth-article__link--font {

    font-size: 11px;
}
}
