
nav{

width: 100%;
font-family: 'Open Sans Condensed', sans-serif;
box-shadow: 0 0 32px rgba(0,0,0,.15); 
}
.logo{
	display: none;
}
.menu-icon{
	display: none;
}

.dark-nav{
	list-style: none;
	display: flex;
	flex-direction: row;
	height: 32px;
	background-color:black;
	align-items: center;



}
.dark-nav > li{
	padding-left: 25px;
}
.dark-nav > .news-one > a{
  color: white;
}
.dark-nav > li > a{
	text-decoration: none;
	font-size: 15px;
	color: rgb(176, 176, 176);
	font-weight: 600;
}
.dark-nav > li > a:hover{
	color: white;
}
.white-nav{
	list-style: none;
	display: flex;
	flex-direction: row;
	height: 48px;
	align-items:center;
	background-color: white;
  

}
.white-nav > li{
	padding-left: 25px;
	text-align: center;
 

}
.white-nav > li > a{
	text-decoration: none;
	color: rgb(176, 176, 176);
	font-size: 16px;
font-weight: 600;


}
.white-nav > li > a:hover{
	color: black;
}
.white-nav > li > img{

	width: 20px;
	height: 20px;
}
.white-nav > li:last-child{
	margin-left: auto;
	padding-right: 20px;
}

/*CONTENT*/


.first-content{
	
	display: flex;
	flex-direction:row;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
		margin-bottom: 123px;

}
.first-div{

	display: flex;
	width: 850px;
	height: 300px;
	box-sizing: border-box;


}
.article-wrap{

background: linear-gradient(to top, rgba(195, 20, 50, 12.41), rgba(36, 11, 54, 0.41) );
	background-size: cover;
	background-repeat: no-repeat;
		height:452px;
		width: 100%;

}  

 .background-first{
 
	background-image: url("images/building.jpg");
    background-position: 0px -30px;
	background-repeat: no-repeat;
		height:452px;
		width: 100%;

}
.article-head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-top: 30px;

}

.article-head > img{
    width: 414px;
margin-left: 10px;
  
}
a{
	text-decoration: none;
	color: white;

}
.article-head > p{
	margin-right: 10px;
}
.background-first > div> p{
font-size: 40px;
    width: 50%;
    font-weight: 900;
    margin-top: 90px;
    margin-left: 10px;
}
.clock{
	width: 20px;
	height: 20px;
}
.share{
	width: 20px;
	height: 20px;
}
.by-who{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-top: 58px;


}
.by-who > p{
	padding-right: 5px;
}
.by-who > img{
		padding-right: 5px;
}
.by-who > p{
	font-weight: 900;
}

.column{
	display: flex;
	flex-direction: column;
    margin-left: 8px;
 

}
.second-div{
	width: 490px;
	height: 222px;
	box-sizing: border-box;
	
}
.third-div{
    width: 490px;
	height: 222px;
	
	box-sizing: border-box;
    margin-top: 8px;

}

.article-wrap-two{
	background-image: url("images/netflix.png");
	background-repeat: no-repeat;
		height: 222px;
		width: 100%;
background-size: 100% 100%;
}
.article-content{
       padding-top: 77px;
    padding-left: 20px;
}
.article-content > .tech{
font-size: 14px;

}
.article-content > .agent{
	font-size:24px;
	font-weight: 900;
}
.by-who-two {
	display: flex;
	flex-direction: row;
}
.by-who-two > p{
	padding-right: 5px;
		font-weight: 900;
		padding-top: 10px;
}
.by-who-two > .clock-two{
			padding-right: 10px;
		height: 20px;
		width: 20px;
		padding-top: 10px;
}
.by-who-two > .share-two{
	padding-right: 10px;
		height: 20px;
		width: 20px;
			padding-top: 10px;
}
.article-wrap-three{

	background-image: url("images/building2.jpg");
	background-repeat: no-repeat;
		height: 222px;
		width: 100%;
		    background-size: 100% 100%;

}
/*SECOND CONTENT*/

.second-content{

	display: flex;
	flex-direction: column;
width: 90%;
	margin:0 auto;
    margin-top: 50px;
	margin-bottom: 50px;
}
.news{
	margin-bottom: 24px;
}
.news > a{
 
 font-size: 25px;
 font-weight: 900;
 color: #f42;

}
.news > a:hover{
	color:black;
}

.row{
	display: flex;
	flex-direction: row;
	
}
.first-clip{
	display:flex;
	flex-direction: column;
	width:  60%;
        border: 1px solid red;
    padding-left: 5px;
}
.smallest-clip{

 background-size: cover;
	background-repeat: no-repeat;
		height: 135px;
	
}
.number-one{
	background-image: url("images/airplane.jpg");
}
.number-two{
	background-image: url("images/gamer.jpg");
 
}
.number-three{
background-image: url("images/red.jpg");
}
.number-four{
	background-image: url("images/girls.jpg");
}
.small-link{
	          width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.small-link >a{
	color: black;
	font-size: 20px;
	font-weight: 900;
	text-align: left;

}
.small-link >p{
	color: grey;
	    margin-top: 10px;
	    font-size: 14px;
}

.second-row{
	    margin-top: 50px;
}

.row-one{
background-image: url("images/astronauts.png");
}
.row-two{
background-image: url("images/couple.png");
}
.row-three{
background-image: url("images/programmer.jpg");
}
.row-four{
	background-image: url("images/mark.png");
}


/*THIRD CONTENT*/

.third-content{

display: flex;
flex-direction: column;
width: 90%;
margin:0 auto;
}

.informer-row{
	    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.informer{
	display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 257px;
    position: relative;
    width: 270px;
    border: 1px solid red;


}

.small-header{
	width: 100%;
	height: 30px;
	background: #f42;
	
}
.small-header > h4{
    margin-left: 80px;
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-weight: 600;
}
.small-header > img{
	height: 60px;
	width: 60px;
	position: absolute;
	left: 10px;
	top: 5px;
}
.small-content{
padding-top: 10px;
    text-align: center;
    background: #FFEBE7;

}
.icon-link{
	    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
	
}
.icon-link > img{
	height: 16px;
	width: 16px;
}

.small-content > .icon-link > a{
	text-decoration: none;
	color: #555555;
	font-size: 13px;
	text-align: left;
	padding-left: 5px;
	
}

.small-content > h4{
    display: block;
padding-top: 5px;
color: #555555;
	font-weight: 900;
     
}
.small-content > h5{
    display: block;
padding-top: 5px;
color: #555555;
	    margin-bottom: 15px;
    padding-left: 28px;
}

.small-footer{
width: 100%;
	height: 50px;

}
.small-footer > div{
	height: 30px;
	margin-top: 15px;
	border-top: 3px solid #FFCDC2;
}
 .small-footer-link{
 	display: block;
	font-size: 12px;
	text-decoration:none;
	color: #555555;
	margin-top: 5px;
	    width: 78%;
	    margin-left: 10px;
	

}





@media all and (max-width: 480px)  {
	nav{
		display: flex;
		flex-direction: row;
	    height: 50px;
	}
	.logo{
		display: block;
background: linear-gradient(to bottom right,#c09,#f42 85%);
    width: 80px;
    height: 50px;

	}
	.logo img{
	    width: 65px;
    height: 33px;
 margin-left: 8px;
  margin-top: 10px;
	}

.menu-icon > .search {
		width: 20px;
		height: 20px;
		margin-right: 15px;

	}
	.menu-icon{
 padding-top: 15px;
	display:block; 
	margin-left: auto;
	
}

.menu-icon >.menu {
  width: 20px;
 height: 20px;
margin-right: 10px;
	}

	.dark-nav{

display: none;


	}
	.white-nav{
		display: none;
	}

.first-content{

	flex-direction: column;
	width: 100%;
}

.first-div
{
	width: 100%;
	margin:0;
	flex:1 1 10rem;
	margin-bottom: 10px;
}

.column{

width: 100%;
margin: 0;
flex:1 1 20rem;
}

.second-div{

	width: 100%;

}

.third-div{

	width: 100%;
}

.row{
	flex-direction: column;
}
.informer-row{
	flex-direction: column;
}
.informer {
	width: 100%;
    margin-top: 17px;
}

.first-clip {
    flex-direction: row;
    width: 100%;
}
}